Checks:          '*,-llvm-header-guard,-google-build-using-namespace,-clang-analyzer-alpha.clone.CloneChecker,-google-runtime-int,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-clang-analyzer-alpha.deadcode.UnreachableCode,-misc-use-after-move,-cppcoreguidelines-pro-type-vararg,-modernize-use-emplace,-cert-err60-cpp,-clang-diagnostic-initializer-overrides,-misc-unused-parameters,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-llvm-include-order,-llvmlibc-restrict-system-libc-headers,-cppcoreguidelines-avoid-non-const-global-variables,-hicpp-signed-bitwise'